footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background: #E7ECFF;
}
    footer .copyrights{
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid #939EA4;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .copyrights p:nth-child(1){
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: #939EA4;
    }
    footer .copyrights p:nth-child(2){
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 38px;
        color: #37447E;
    }
    footer .copyrights button{
        width: 150px;
        height: 40px;
        transition: .9s all ease;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background: #091133;
        border: 2px solid ;
        color: #fff;
        cursor: pointer;
    }

    footer nav{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
        footer nav .nav_left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }
            footer nav .nav_left ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                list-style-type: none;
            }
                footer nav .nav_left ul li{
                    width: 30%;
                    height: 100%;
                    text-align: left;
                }
                    footer nav .nav_left ul li a{
                        text-decoration: none;
                        color: #929ECC;
                        font-size: 18px;
                    }
        footer nav .nav_right{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }
            footer nav .nav_right ul{
                width: 100%;
                height: 100%;
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                align-content: center;
            }
                footer nav .nav_right ul li{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }
                    footer nav .nav_right ul a{
                        border: none;
                        width: 20px;
                        height: 20px;
                    }
                    footer nav .nav_right ul li:nth-child(1) a{
                        background: url(../images/Instagram\ Copy.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    footer nav .nav_right ul li:nth-child(2) a{
                        background: url(../images/Instagram\ Copy\ 2.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    footer nav .nav_right ul li:nth-child(3) a{
                        background: url(../images/Instagram\ Copy\ 3.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    footer nav .nav_right ul li:nth-child(4) a{
                        background: url(../images/Instagram\ Copy\ 4facebook.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    footer nav .nav_right ul li:nth-child(5) a{
                        background: url(../images/Instagram.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }