main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
}
/* Adding background shape */
main svg{
    position: absolute;
    right: 0;
    top: -70px;
    z-index: -1;
}
/* Adding background shape */


    main section{
        max-width: 70%;
        width: 70%;
        margin: 0 auto;
    }
    /* Styling main and sections */
    main .sec_1{
        position: relative;

    }
    