main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
}
/* Adding background shape */
main svg{
    position: absolute;
    right: 0;
    top: -70px;
    z-index: -1;
}
/* Adding background shape */


    main section{
        max-width: 70%;
        width: 70%;
        margin: 0 auto;
    }
    /* Styling main and sections */
    main .sec_1{
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
        main .sec_1 .sec_1_left{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            width: 50%;
            height: 70%;
        }
            main .sec_1 .sec_1_left h2{
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: 66px;
                max-width: 80%;
                letter-spacing: 1px;
                color: #091133;
                text-align: left;
                padding-bottom: 10%;
            }
            main .sec_1 .sec_1_left p{
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                color: #505F98;
                text-align: justify;
                max-width: 80%;
                margin-left: 0;
                padding-bottom: 10%;
            }
            main .sec_1 .sec_1_left div{
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                main .sec_1 .sec_1_left div button{
                    background: transparent;
                    border: 2px solid #091133;
                    color: #091133;
                    width: 40%;
                    min-height: 50px;
                    cursor: pointer;
                    transition: .8s all ease;
                }
                main .sec_1 .sec_1_left div button:hover{
                    background: #091133;
                    color: #fff;
                }
        main .sec_1 .sec_1_right{
            position: absolute;
            right: 0;
            top: 10vh;
            width: 100%;
            height: 90vh;
            z-index: -1;
            background: url(../images/Groupright_side.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: auto;
        }


        /* Styles for second section */

    .sec_2{
        margin-top: 10vh;
        padding-top: 10vh;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
        .sec_2 .left_side{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: left;
            text-align: left;
            width: 45%;
            height: 80%;
        }
            .sec_2 .left_side .left_upper{
                display: flex;
                flex-direction: column;
                align-items: left;
                text-align: left;
                justify-content: space-around;
                width: 100%;
                height: 40%;
            }
                .sec_2 .left_side .left_upper h3{
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    color: #091133;
                }
                .sec_2 .left_side .left_upper p{
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    color: #6F7CB2;
                }
            .sec_2 .left_side .left_downer{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: left;
                text-align: left;
                height: 20%;
                width: 100%;
            }
                .sec_2 .left_side .left_downer .cards{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: left;
                    text-align: justify;
                    width: 45%;
                }
                    .sec_2 .left_side .left_downer .cards img{
                        width: 40px;
                        height: 40px;
                    }
                    .sec_2 .left_side .left_downer .cards.card_1 p,
                    .sec_2 .left_side .left_downer .cards.card_2 p{
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                        color: #091133;
                        margin-top: 10px;
                    }
                    .sec_2 .left_side .left_downer .cards.card_1 p.t2,
                    .sec_2 .left_side .left_downer .cards.card_2 p.t2{
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                        color: #091133;
                    }

                    /* Right side of second section styling */

        .sec_2 .right_side{
            width: 45%;
            height: 100%;
            position: relative;
        }
            .sec_2 .right_side .right_side_bck{
                background: url(../images/undraw_mobile_login_ikmv.png);
                background-position: center;
                background-size: contain;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
            }
